<%- model_class = Despesa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:descricao) %>:</strong></dt>
  <dd><%= @despesa.descricao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:condominio_id) %>:</strong></dt>
  <dd><%= @despesa.condominio_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tipo_despesa_id) %>:</strong></dt>
  <dd><%= @despesa.tipo_despesa_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:data) %>:</strong></dt>
  <dd><%= @despesa.data %></dd>
  <dt><strong><%= model_class.human_attribute_name(:forma_pagamento) %>:</strong></dt>
  <dd><%= @despesa.forma_pagamento_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:valor) %>:</strong></dt>
  <dd><%= number_to_currency(@despesa.valor, unit: "R$ ", separator: ",", delimiter: ".", precision: 2) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observacao) %>:</strong></dt>
  <dd><%= @despesa.observacao %></dd>
  <dt><strong><%= model_class.human_attribute_name(:anexo) %>:</strong></dt>
  <dd><%= image_tag @despesa.anexo.url if @despesa.anexo? %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tenant_id) %>:</strong></dt>
  <dd><%= @despesa.tenant_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @despesa.user_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fornecedor_id) %>:</strong></dt>
  <dd><%= @despesa.fornecedor_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              condominio_despesas_path(condominio_id: @despesa.condominio_id), :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_tenant_despesa_path(@despesa, tenant_id: @tenant.id), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              tenant_despesa_path(tenant_id: @tenant.id),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
