<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag('logo.png', width: '42', height: '42', alt: 'Página principal'), root_path, class: 'navbar-brand' %>

    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li>
            <%= link_to "<i class='glyphicon glyphicon-user'></i>  Adicionar Membros".html_safe, new_member_path, class: 'navbar-link btn btn-primary' %>
          </li>
        <% end %>
      </ul>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><%= link_to '<i class="glyphicon glyphicon-minus-sign"></i>'.html_safe + " Nova despesa", new_tenant_despesa_path(tenant_id: @tenant.id) %></li>
          <li><%= link_to '<i class="glyphicon glyphicon-plus-sign"></i>'.html_safe + " Nova receita", new_tenant_income_path(tenant_id: @tenant.id) %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-cog"></i> Administração <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "<i class='glyphicon glyphicon-barcode'></i> Formas de pagamentos".html_safe, tenant_forma_pagamentos_path(tenant_id: @tenant.id) %></li>
                <li><%= link_to "Fornecedores", tenant_fornecedors_path(tenant_id: @tenant.id) %></li>
                <li><%= link_to "Tipos de despesas", tenant_tipo_despesas_path(tenant_id: @tenant.id) %></li>
                <li><%= link_to "Tipos de fornecedores", tenant_tipo_fornecedors_path(tenant_id: @tenant.id) %></li>
                <li><%= link_to "Tipos de receitas", tenant_income_tipes_path(tenant_id: @tenant.id) %></li>

              </ul>
            </li>
        <% end %>
      </ul>

      <ul class="nav navbar-right col-md-4">
        <% if current_user %>
          <li class="col-md-8 user-name">
            <%= link_to ('<i class="glyphicon glyphicon-user"></i> ' + truncate(current_user.email, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile' %>
          </li>
          <li class="col-md-1"></li>
          <li class="col-md-3 logout"><%= link_to("<i class='glyphicon glyphicon-off'></i>".html_safe, destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>
        <% else %>
          <li class="col-md-4 pull-right">
            <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
          </li>
        <% end %>
      </ul>

      <% if false %>
        <% #TODO: remover o comentário quando internacionalizar a aplicação %>
        <a href="<%= request.path %>?locale=en">
          <span class="flag-icon flag-icon-us"></span>
        </a>
        <a href="<%= request.path %>?locale=pt-BR">
          <span class="flag-icon flag-icon-br"></span>
        </a>
      <% end %>
    </div>
  </div>
</div>
